.cooperation-catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  width: 280px;
  min-height: 75px;
  margin: 0 auto;
  padding: 19px;
}

@media (min-width: 768px) {
  .cooperation-catalog {
    width: 728px;
    min-height: 160px;
    padding: 20px;
  }

  @media (min-width: 1440px) {
    .cooperation-catalog {
      position: absolute;
      left: 109px;
      top: 100px;
      width: 520px;
      min-height: 150px;
      background-color: #ffffff;
      padding: 25px;
      z-index: 2;
    }
  }
}
