.example__wrapper {
  width: 320px;
  background-color: #f2f2f2;
  padding-top: 10px;
  padding-bottom: 55px;
}

.example__wrapper-flex:nth-child(1) {
  padding-left: 20px;
  padding-right: 20px;
}

.example__wrapper-flex:nth-child(2) {
  padding-left: 0;
  padding-right: 0;
}

.example__header {
  width: 280px;
  min-height: 55px;
  font-size: 36px;
  font-weight: 400;
  text-align: start;
  line-height: 55px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0 auto;
}

.example__text {
  width: 275px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 25px;
}

.example__time-and-mass {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.cell {
  color: #444444;
  border-style: none;
  border-radius: 2px;
  border: 1px solid #cdcdcd;
  text-align: center;
  font-size: 24px;
  margin: 0;
  padding: 0 17px 17px 14px;
  transform: rotate(180deg);
}

.cell legend {
  width: 85px;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  line-height: 12px;
  text-transform: lowercase;
  transform: rotate(180deg);
}

.example__flex-wrap {
  margin-bottom: 40px;
}

.cell__text-wrapper {
  text-transform: uppercase;
  transform: rotate(180deg);
  padding-bottom: 5px;
}

.example__total {
  width: 280px;
  text-align: center;
}

.example__total-text {
  font-family: "Oswald";
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.example__total-text br {
  display: none;
}

@media (min-width: 768px) {
  .example {
    margin-bottom: 25px;
  }

  .example__wrapper {
    width: 768px;
    background-color: #ffffff;
    padding: 0;
    margin: 0 auto;
  }

  .example__wrapper-flex:nth-child(1) {
    padding-left: 30px;
    padding-right: 30px;
  }

  .example__wrapper-flex:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
  }

  .example__header {
    font-size: 60px;
    width: 708px;
    margin-bottom: 65px;
    padding: 0;
    background-color: transparent;
  }

  .example__text {
    width: 700px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
  }

  .cell {
    border-radius: 2px;
    font-size: 30px;
    padding: 0 20px 0 20px;
    margin: 0;
  }

  .cell__text-wrapper {
    padding-top: 25px;
  }

  .cell legend br {
    display: none;
  }

  .cell legend {
    width: 114px;
    white-space: nowrap;
    font-size: 13px;
    line-height: 40px;
    text-transform: lowercase;
  }

  .example__flex-wrap {
    display: flex;
    width: 708px;
  }

  .example__time-and-mass {
    width: 365px;
    margin-right: 40px;
  }

  .example__total {
    width: 303px;
    text-align: right;
    margin-bottom: 15px;
  }

  .example__total-text {
    font-size: 20px;
    padding-top: 10px;
    line-height: 30px;
  }

  .example__total-text br {
    display: inline-block;
  }

  @media (min-width: 1440px) {
    .example {
      width: 1440px;
      margin: 0 auto;
    }

    .example__wrapper {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #f2f2f2;
      width: 1440px;
      min-height: 460px;
      padding-left: 0px;
      padding-right: 0px;
    }

    .example__wrapper-flex:nth-child(1) {
      padding-left: 110px;
      padding-right: 0;
    }

    .example__wrapper-flex:nth-child(2) {
      padding-left: 0;
      padding-right: 0;
    }

    .example__header {
      width: 555px;
      margin-bottom: 145px;
      margin: 0;
      padding-left: 110px;
      margin-bottom: 75px
    }

    .example__text {
      width: 435px;
      padding-top: 75px;
      margin-bottom: 70px;
    }

    .example__flex-wrap {
      width: 445px;
      flex-wrap: wrap;
      margin-bottom: 0;
    }

    .example__total {
      width: 325px;
      margin-bottom: 0;
    }

    .example__total-text {
      width: 327px;
      display: flex;
      justify-content: space-between;
    }

    .example__time-and-mass {
      width: 365px;
      margin-bottom: 30px;
    }

    .example__img-tablet {
      display: none;
    }

    .example__wrapper-flex {
      display: flex;
      flex-direction: column;
    }

    .example__wrapper-flex:nth-child(2) {
      position: relative;
      width: 790px;
    }

    .cell legend {
      line-height: 34px;
    }

    .cell__text-wrapper {
      padding-top: 20px;
    }
  }
}
