.example__wrapper {
  width: 280px;
  background-color: #f2f2f2;
  padding: 20px;
}

.example__header {
  width: 280px;
  min-height: 55px;
  font-size: 36px;
  font-weight: 400;
  text-align: start;
  line-height: 55px;
  margin: 0;
  margin-bottom: 25px;
}

.example__text {
  width: 279px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 25px;
}

.example__time-and-mass {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.cell {
  color: #444444;
  border-style: none;
  border-radius: 2px;
  border: 1px solid #cdcdcd;
  text-align: center;
  font-size: 24px;
  margin: 0;
  padding: 0 17px 17px 17px;
  transform: rotate(180deg);
}

.cell legend {
  width: 85px;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  line-height: 12px;
  text-transform: lowercase;
  transform: rotate(180deg);
}

.example__flex-wrap {
  margin-bottom: 40px;
}

.cell__text-wrapper {
  text-transform: uppercase;
  transform: rotate(180deg);
  padding-bottom: 5px;
}

.example__total {
  width: 280px;
  text-align: center;
}

.example__total-text {
  font-family: "Oswald";
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.example__total-text br {
  display: none;
}

.example__img-big-wrapper {
  position: relative;
  display: flex;
  width: 280px;
  height: 230px;
  line-height: 300px;
}

.example__img-small-wrapper {
  position: relative;
  display: none;
  width: 280px;
  height: 230px;
  line-height: 300px;
}

.example__img-small {
  position: absolute;
  left: 20px;
  display: none;
  object-fit: cover;
  object-position: center;
}

.example__img-big {
  position: absolute;
  left: -5px;
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.example__img-tablet {
  display: none;
}

.example__img-desktop {
  display: none;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 198px;
  height: 55px;
  padding-top: 17px;
  margin-left: 44px;
  margin-right: 36px;
}

.slider span {
  text-transform: uppercase;
  font-size: 16px;
}

.slider__img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 82px;
  height: 10px;
  border: 1px solid #cdcdcd;
  border-radius: 30px;
  padding-bottom: 1px;
  padding-top: 1px;
  padding-right: 0;
  padding-left: 0;
}

.slider__img-small {
  position: absolute;
  left: 4px;
  width: 32px;
  height: 4px;
  border: 1px solid @green;
  border-radius: 30px;
  background-color: @green;
}

@media (min-width: 768px) {
  .example {
    margin-bottom: 45px;
  }

  .example__wrapper {
    width: 708px;
    background-color: #ffffff;
    padding: 0;
    margin: 0 auto;
  }

  .example__header {
    font-size: 60px;
    width: 708px;
    margin-bottom: 65px;
  }

  .example__text {
    width: 700px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
  }

  .cell {
    border-radius: 2px;
    font-size: 30px;
    padding: 0 20px 0 20px;
    margin: 0;
  }

  .cell__text-wrapper {
    padding-top: 25px;
  }

  .cell legend br {
    display: none;
  }

  .cell legend {
    width: 114px;
    white-space: nowrap;
    font-size: 13px;
    line-height: 40px;
    text-transform: lowercase;
  }

  .example__flex-wrap {
    display: flex;
    width: 708px;
  }

  .example__time-and-mass {
    width: 365px;
    margin-right: 40px;
  }

  .example__total {
    width: 303px;
    text-align: right;
    margin-bottom: 15px;
  }

  .example__total-text {
    font-size: 20px;
    padding-top: 10px;
    line-height: 30px;
  }

  .example__total-text br {
    display: inline-block;
  }

  .example__img-mobile {
    display: none;
  }

  .example__img-desktop {
    display: none;
  }

  .example__img-tablet-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 708px;
    height: 517px;
    margin: 0 auto;
  }

  .example__img-tablet {
    display: flex;
  }


  .example__img-big-small {
    position: absolute;
    left: 15px;
    top: 10px;
    display: flex;
  }

  .slider {
    position: relative;
    width: 570px;
    height: 80px;
    margin: 0 auto;
    padding: 0;
  }

  .slider span {
    font-size: 20px;
  }

  .slider__img {
    position: absolute;
    left: 267px;
    top: 23px;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    padding: 0;
    z-index: 2;
  }

  .slider__img-small {
    width: 6px;
    height: 6px;
    left: 12px;
    padding: 0;
    margin: 0;
    z-index: 2;
  }

  .slider::before {
    position: absolute;
    left: 75px;
    content: "";
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
    border-radius: 10px;
    z-index: 1;
  }

  .slider span {
    border-bottom: 1px dotted #dcdcdc;
    line-height: 30px;
  }

  @media (min-width: 1440px) {
    .example {
      width: 1220px;
      margin: 0 auto;
    }

    .example__wrapper {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 1220px;
      margin-bottom: 5px;
    }

    .example__header {
      width: 445px;
      margin-bottom: 145px;
    }

    .example__text {
      width: 435px;
      margin-bottom: 70px;
    }

    .example__flex-wrap {
      width: 445px;
      flex-wrap: wrap;
    }

    .example__total {
      width: 325px;
    }

    .example__total-text {
      width: 327px;
      display: flex;
      justify-content: space-between;
    }

    .example__time-and-mass {
      width: 365px;
      margin-bottom: 30px;
    }

    .example__img-tablet {
      display: none;
    }

    .example__wrapper-flex {
      display: flex;
      flex-direction: column;
    }

    .example__wrapper-flex:nth-child(2) {
      width: 650px;
      height: 585px;
    }

    .example__img-desktop {
      display: flex;
      width: 650px;
      margin-top: -65px;
      margin-bottom: 15px;
    }

    .example__img-tablet-wrapper {
      width: 650px;
    }

    .example__img-big-small {
      position: relative;
      top: 0;
      left: 0;
    }

    .cell legend {
      line-height: 34px;
    }

    .cell__text-wrapper {
      padding-top: 20px;
    }

    .slider {
      margin-right: 0;
    }
  }
}
